[submodule "submodules/spdlog"]
	path = submodules/spdlog
	url = https://github.com/gabime/spdlog
	shallow = true
[submodule "submodules/json"]
	path = submodules/json
	url = https://github.com/nlohmann/json
	shallow = true
[submodule "submodules/googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest
	shallow = true
